.main-tab {
	margin-top: 0%;
}

.main {
	background: url(../img/bg.jpg) center center repeat;
	height: 100vh;
	text-align: center;
}
.nav-tabs {
	border: none;
	text-align: center;	
}
.bebe {
	margin: 0px auto;
}
.form {
	padding: 0;
	padding: 50px;
	background-color: #000;
	border: 20px solid #03a5da;
}
.form-input {
	background-color: #1a1919;
	border: none;
	color: #fff;
	width: 100%;
	font-size: 24px;
	margin-bottom: 25px;
	padding: 10px 0;
}

.form h3 {
	font-size: 15px;
	color: red;
	margin-bottom: 56px;
}

.form p {
	color: #fff;
	display: inline-block;
	margin: 0;
	margin-left: 3px;
}
::-webkit-input-placeholder { /* WebKit browsers */
   color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #03a5da;
	border: none;
	border-bottom: 1px solid #03a5da;
	color: #fff;
}

.check {
	display:inline-block;
}