/*============   ШРИФТЫ  ===========*/
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*============   COLORS   ===========*/
/*============    basik setting    ===========*/
html {
  font-size: 10px;
}
.button {
  background-color: #fcb303;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  background-color: #46b814;
  cursor: pointer;
}
section {
  padding: 10rem 0;
}
a:hover {
  text-decoration: none;
}
button:focus,
a:focus,
input:focus {
  outline: none;
}
/*============    main    ===========*/
.main {
  padding: 3rem 0 5rem;
  background: url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  line-height: 1.45;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-family: 'ProximaNova_reg', sans-serif;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  margin-top: 3rem;
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-form {
  background-color: #ffffff;
  text-align: center;
  padding: 4rem 5rem;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  margin: 2rem 0;
  display: block;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 1.5rem;
}
.main-form label {
  position: absolute;
  left: 50%;
  font-size: 1.3rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  display: inline-block;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  color: #1a1820;
  font-weight: 800;
  font-size: 2.0rem;
  height: 7rem;
  line-height: 7rem;
}
.phone-block {
  text-align: right;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/*============    ПРЕИМУЩЕСТВА    ===========*/
.offers {
  margin-top: 7rem;
  margin-bottom: 11rem;
}
.offers-header {
  text-align: center;
  padding-bottom: 13rem;
}
.offers-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.offers .icons {
  text-align: center;
}
.offers .icons img {
  min-height: 66px;
}
.offers .icons h3 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.offers .icons p {
  font-size: 1.9rem;
  font-family: 'ProximaNova_reg', sans-serif;
  line-height: 1.35;
}
.offers .icons p a {
  color: #46b814;
  border-bottom: 1px dashed #46b814;
}
.offers .icons .strong {
  margin-top: 50px;
  margin-bottom: 30px;
}
/*============    PRICE    ===========*/
.price {
  background-color: #206a04;
  padding-top: 12rem;
  padding-bottom: 10rem;
  text-align: center;
}
.price h2 {
  margin: 0;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  color: #ffffff;
}
.price p {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
  color: #ffffff;
}
.price .btn-price {
  font-size: 1.6rem;
  padding: 2rem 2rem;
}
.price .price-knop {
  text-align: right;
}
.price .price-header {
  margin-bottom: 4rem;
}
.price .card {
  color: #1a1820;
  background-color: #ffffff;
  padding: 30px;
}
.price .card h4 {
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price .card img {
  margin: 3rem 0;
}
.price .card strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
.price .card strong span {
  font-size: 3rem;
}
.price .card ul {
  margin: 3rem 0;
  list-style-image: url(../img/marker.png);
}
.price .card li {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.9rem;
}
.price .card button.btn-price-1 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
  padding: 1.7rem 5rem;
  margin-top: 10.6rem;
}
.price .card button.btn-price-2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
  padding: 1.7rem 5rem;
  margin-top: 2.7rem;
}
.price .card button.btn-price-3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.8rem;
  padding: 1.7rem 5rem;
}
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ПОДВАЛ    ===========*/
/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/
/*============    	АДАПТИВ    ===========*/
@media (min-width: 0px) and (max-width: 320px) {
  html {
    font-size: 9px;
  }
  .main-title h1 {
    font-size: 2.0rem;
  }
  .header {
    text-align: center;
  }
  .phone-block {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content {
    text-align: center;
  }
  .main-form {
    padding: 1rem 1rem;
    margin-top: 3rem;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  html {
    font-size: 10px;
  }
  .main-form {
    padding: 1rem 1rem;
  }
  .header {
    text-align: center;
  }
  .phone-block {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content {
    text-align: center;
  }
  .main-title h1 {
    font-size: 2.5rem;
  }
  .main-form {
    margin-top: 5rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .phone-block {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content {
    text-align: center;
  }
  .main-title h1 {
    font-size: 3.0rem;
  }
  .main-form {
    margin-top: 5rem;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .main-content {
    margin-top: 3rem;
  }
}
